<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
         <!-- priority="98" generic="false" -->
      <configurator
            class="org.maven.ide.eclipse.scala.ScalaProjectConfigurator"
            id="org.maven.ide.eclipse.scala"
            name="scala"
            >
      </configurator>
   </extension>
   <extension point="org.eclipse.m2e.core.archetypeCatalogs">
      <remote description="Scala-tools.org/releases Catalog" url="http://nexus.scala-tools.org/content/repositories/releases/"/>
      <remote description="Scala-tools.org/snapshots Catalog" url="http://nexus.scala-tools.org/content/repositories/snapshots/"/>
   </extension>
</plugin>
