<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
         <!-- priority="98" generic="false" -->
      <configurator
            class="org.maven.ide.eclipse.scala.ScalaProjectConfigurator"
            id="org.maven.ide.eclipse.scala"
            name="scala"
            >
      </configurator>
   </extension>
   <!-- marker extension point, mappings read from ./lifecycle-mapping-metadata.xml file -->
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>   
</plugin>
